<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TopicName" value="topic1"/>
    <add key="SubscriptionName1" value="sub-pande"/>
    <add key="SubscriptionName2" value="sub-preview"/>
  </appSettings>
</configuration>